<!DOCTYPE html>
<html>
<head>
    <title>Create Book</title>
</head>
<body>
    <h1>Create Book</h1>
    <form method="post" action="/create">
        <lable for="title">Title</lable>
        <input type="text" id="title" name="title">
        <br>
        <lable for="author">Author:</lable>
        <input type="text" id="author" name="author">
        <br>
        <input type="submit" value="create">
        

    </form>
    <a href="/">Back to List</a>
</body>
</html>